<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
	<title>404 not found | AutoUOC | Automate Your Scratch Shop</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://autouoc.github.io/site/src/public/style.css">
	<link rel="icon" href="/autouoc.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function goBack() {
  window.history.back();
}
</script>
</head>
<body>
    <div class="bg">
        <div class="waveWrapper waveAnimation">
            <div class="waveWrapperInner bgTop">
              <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
              <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
              <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
          </div>
    </div>
    <div class="content">
        <div class="nav">
            <img src="autouoc.png">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="https://scratch.mit.edu/discuss/topic/434082/">Support</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a class="filler"></a>
            <a href="/login" class="login">Login</a>
        </div>
        <div class="header">
            <div class="cleft">
                <h1>404<br>Page doesn't exist</h1>
                <font color="white" size="5">Oopsy daisy! Looks like the page you were looking for didn't exist! So sad :(</font>
<br>
<br><div class="button-wrap"><button class="mbtn" onclick="goBack()">Back</button>
<a href="http://autouoc.glitch.me/" class="sbtn">Home</a>
    </div></div>

</div></div></body></html>
